@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<section class="section">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-7">
            <div class="container">

                <div>
                    <h1 class="title">Login</h1>
                    <h2 class="subtitle">Use a local account to log in.</h2>
                </div><hr />

                <form id="account" method="post">
                    <div asp-validation-summary="All" class="is-danger"></div>

                    <div class="field form-group">
                        <label asp-for="Input.Email" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="Input.Email" class="input form-control" />
                            <span asp-validation-for="Input.Email" class="icon is-small is-right"></span>
                        </div>
                    </div>
                    <div class="field form-group">
                        <label asp-for="Input.Password" class="label control-label"></label>
                        <div class="control">
                            <input asp-for="Input.Password" class="input form-control" />
                            <span asp-validation-for="Input.Password" class="icon is-small is-right"></span>
                        </div>
                    </div>
                    <nav class="level form-group">
                        <div class="level-left">
                            <label asp-for="Input.RememberMe" class="checkbox">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="level-right">
                            <button type="submit" class="button is-primary">Log in</button>
                        </div>
                    </nav>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


@* KOD DO LOGOWANIA Z INNEJ PLATFORMY -------- CHWILOWO NIE UŻYWANY

<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
